[submodule "Ext/libcppqt"]
	path = Ext/libcppqt
	url = https://github.com/donpillou/libcppqt.git
[submodule "Ext/mare"]
	path = Ext/mare
	url = https://github.com/craflin/mare
[submodule "Ext/QTabFramework"]
	path = Ext/QTabFramework
	url = https://github.com/craflin/QTabFramework.git
[submodule "Ext/libzlimdbclient"]
	path = Ext/libzlimdbclient
	url = https://github.com/craflin/libzlimdbclient.git
[submodule "Ext/lz4"]
	path = Ext/lz4
	url = https://github.com/Cyan4973/lz4.git
[submodule "Ext/libmegucoprotocol"]
	path = Ext/libmegucoprotocol
	url = https://github.com/donpillou/libmegucoprotocol.git
[submodule "Ext/qt"]
	path = Ext/qt
	url = http://code.qt.io/qt/qt.git
