[submodule "Ext/curl"]
	path = Ext/curl
	url = https://github.com/bagder/curl.git
[submodule "Ext/libcppqt"]
	path = Ext/libcppqt
	url = https://github.com/donpillou/libcppqt.git
[submodule "Ext/easywsclient"]
	path = Ext/easywsclient
	url = https://github.com/dhbaird/easywsclient.git
